:host {
  display: block;
  height: 100vh;
}

.transactions-layout {
  display: flex;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2d3748;
  border-radius: 10px;
}


.charts-container {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap; /* برای نمایش درست در موبایل */
}

.chart-wrapper {
  flex: 1;
  min-width: 300px;
  background: #1c1b22; /* رنگ پس‌زمینه کارت‌ها مشابه عکس */
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #2d3748;
}

.chart-title {
  color: #a0aec0;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 500;
}

.charts-main-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
  align-items: stretch;
}

.donut-card {
  width: 350px;
  flex-shrink: 0; /* اجازه نده کوچک‌تر از ۳۵۰ شود */
  background: #1c1b22;
  padding: 24px;
  border-radius: 20px;
  /* border: 1px solid #2d3748; */
  border: 1px solid rgb(39, 39, 42);
  margin-left: 20px;
}

.bar-card {
  flex-grow: 1; /* تمام فضای باقی‌مانده را بگیر */
  min-width: 0; /* برای اینکه ApexCharts بفهمد باید عرض والد را محاسبه کند */
  background: #1c1b22;;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid rgb(39, 39, 42);
  width:900px
}

.chart-header {
  color: #718096;
  margin-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.charts-main-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
  align-items: stretch;
}

.donut-card {
  width: 350px;
  flex-shrink: 0;
  background: #1c1b22;;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid rgb(39, 39, 42);;
}

.bar-card {
  flex-grow: 1;
  min-width: 0;
  background: #1c1b22;;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid rgb(39, 39, 42);;
}