<div class="account-container">
  <div class="table-wrapper">
    <div class="section-header"><p>Assets</p></div>
    <table class="custom-table">
      <thead>
        <tr>
          <th class="col-name">Account Name</th>
          <th class="col-balance">Balance</th>
          <th class="col-type">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let acc of assets">
          <td class="col-name">{{ acc.name }}</td>
          <td class="col-balance">{{ acc.balance | number:'1.2-2' }}$</td>
          <td class="col-type">
            <span class="badge" [ngClass]="acc.type | lowercase">
                {{ acc.type }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-wrapper">
    <div class="section-header"><p>Liabilities</p></div>
    <table class="custom-table">
      <thead>
        <tr>
          <th class="col-name">Account Name</th>
          <th class="col-balance">Balance</th>
          <th class="col-type">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let acc of liabilities">
          <td class="col-name">{{ acc.name }}</td>
          <td class="col-balance">{{ acc.balance | number:'1.2-2' }}$</td>
          <td class="col-type">
            <span class="badge" [ngClass]="acc.type | lowercase">
              {{ acc.type }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>