<div class="account-container">
  <div class="table-wrapper">
    <div class="section-header"><p>Assets</p></div>
    <table class="custom-table">
      <thead>
        <tr>
          <th class="col-name">Account Name</th>
          <th class="col-balance">Balance</th>
          <th class="col-type">Type</th>
          <th class="col-action"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let acc of assets">
          <td class="col-name">{{ acc.name }}</td>
          <td class="col-balance">{{ acc.balance | number:'1.2-2' }}$</td>
          <td class="col-type">
            <span class="badge" [ngClass]="acc.type | lowercase">
                {{ acc.type }}
            </span>
          </td>
          <td class="col-action">
            <button class="delete-btn" (click)="openConfirm(acc)">
               <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M3 6h18M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-wrapper">
    <div class="section-header"><p>Liabilities</p></div>
    <table class="custom-table">
      <thead>
        <tr>
          <th class="col-name">Account Name</th>
          <th class="col-balance">Balance</th>
          <th class="col-type">Type</th>
          <th class="col-action"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let acc of liabilities">
          <td class="col-name">{{ acc.name }}</td>
          <td class="col-balance">{{ acc.balance | number:'1.2-2' }}$</td>
          <td class="col-type">
            <span class="badge" [ngClass]="acc.type | lowercase">
              {{ acc.type }}
            </span>
          </td>
          <td class="col-action">
            <button class="delete-btn" (click)="openConfirm(acc)">
               <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M3 6h18M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal-overlay" *ngIf="isModalOpen">
  <div class="confirm-box">
    <h3>Delete Account</h3>
    <p>Are you sure you want to delete <strong>{{ accountToDelete?.name }}</strong>?</p>
    <div class="modal-actions">
      <button class="cancel-btn" (click)="closeModal()">Cancel</button>
      <button class="confirm-delete-btn" (click)="confirmDeletion()">Delete</button>
    </div>
  </div>
</div>