.summary-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 24px auto;
  padding: 0 20px;
  box-sizing: border-box;
  margin-left: 31px;
  margin-bottom: 70px;
}

.stat-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  row-gap: 4px;
  margin: 0;
  position: relative;
}

.stat-label {
  color: rgb(161, 161, 170);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.stat-value {
  color: rgb(250, 250, 250);
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}